<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Search</h3>
  </div>
  <div class="panel-body">
    <form class="form">
      <div class="input-group">
        <input name="q" type="text" class="form-control" placeholder="Search" value="<%= params[:q] %>" autofocus />
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
        </span>
      </div>
    </form>
  </div>
</div>
