<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Character Not Found</h3>
    </div>
    <div class="panel-body">
      <p>
        <strong>There's no such character!</strong><br />
        We tried really hard, but couldn't find a character with that ID...
      </p>
      <hr />
      <%= link_to "Dangit, lemme try again", characters_import_path, class: 'btn btn-default btn-block' %>
    </div>
  </div>
</div>
